
body {
    background-image: url("mnz-ToLMORRb97Q-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: scroll;
    height:100%;
    
}

h1 {
    color: darkgrey;
    font-size: 60px;
    font-style: oblique;
    font-family:'Rubik Distressed', cursive;
    text-align: center;
}

p {
    font-family: 'Permanent Marker' , cursive;
    color:rgb(38, 165, 141);
    font-weight: bolder;
}

.container {
    border-style: groove;
    display: flex;
    align-items: left;
    justify-content: right;
    border-style: groove;
    border-color: burlywood;
    margin:50px;
    opacity: 600;
    
}

h2 {
    color: goldenrod;
    font-size: xxx-large;
}

a {
    color: antiquewhite;
    font-size: x-large;
}     
