
body {
    background-image: url("mnz-ToLMORRb97Q-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: scroll;
    height:100%;
    
}

h1 {
    color: darkgrey;
    font-size: 60px;
    font-style: oblique;
    font-family:'Rubik Distressed', cursive;
    text-align: center;
}